#tuition-management-system-home-tutor-students-main{
    padding: 10px 20px;
}
.home-tutor-student-profile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
    margin: 16px;
    border-radius: 10px;
    border-left: 5px solid rgba(0, 128, 0, 0.75);

}
.home-tutor-student-image-box{
    width: 142px;
    height: 142px;
    margin: 10px auto;
    &>img{
        width: 100%;
        height: 100%;
        margin: 10px auto;
        display: block;
    }
}
.home-tutor-student-details-box p{
    margin-bottom: 0.5rem;
    line-height: 1rem;
}
.home-tutor-student-details-box b{
    color: #08691C;
}
.home-tutor-student-details-box .icon-margin{
    margin: 0 5px 5px 0;
}
.home-tutor-student-profile-container .share-icon-btn{
    width: 32px;
    height: 32px;
    padding: 5px;
    margin: 0 5px;
}
.tuition-per-month-fee-amount{
    border: 1px solid #C2C2C2;
    border-radius: 8px;
    margin-left: 10px;
    padding: 4px 10px;
    color:#0A7E22;

}
.home-tutor-student-profile-container .add-notes-and-alarm{
    position: absolute;
    top: 50%;
    left: 50%;
    &>span{
        border: 1px solid #c2c2c2;
        padding: 5px 10px;
        margin: 0 5px;
        border-radius: 8px;
    }
}



.student-email, .student-subjects{
    margin-left: 20px;
}
.home-tutor-student-details-box{
    width: 80%;
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.rejected-accepted-requests-and-forwards{
    display: flex;
    justify-content: end;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 350px;
    &>span{
        display: block;
        cursor: pointer;
        .info-icon{
            margin: 0 5px;
            cursor: pointer;
        }
        .pending-counts{
            margin-left: 5px;
        }
        .rejected-counts{
            margin-left: 5px;
        }
        .accepted-counts{
            margin-left: 5px;
        }
    }
    &>.pending{
        display: flex;
        align-items: center;
        border: 1px solid #c2c2c2;
        border-radius: 5px;
        margin-right: 20px;
        padding: 0 5px 0 12px;
        color: #D32940;
        font-weight: 500;
        height: 30px;
    }
    &>.rejected{
        display: flex;
        align-items: center;
        border: 1px solid #c2c2c2;
        border-radius: 5px;
        margin-right: 20px;
        padding: 0 5px 0 12px;
        color: #D32940;
        font-weight: 500;
        height: 30px;

    }
    &>.accepted{
        display: flex;
        align-items: center;
        border: 1px solid #c2c2c2;
        margin-right: 20px;
        padding: 0 5px 0 12px;
        border-radius: 5px;
        color: #08691C;
        font-weight: 500;

    }
    &>.add-user{
        display: flex;
        align-items: center;
        color: #F0B732;
        &>a{
            color: #ff9364;
        }
    }
}