* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#student-exam-course-management {
  max-width: 1280px;
  width: 100%;
  background-color: #f3f3f3;
  min-height: 94vh;
  height: 100%;
  max-height: auto;
}
.school-check-conatiner {
  display: flex;
  & > span {
    margin: 0 5px;
    & > input {
      height: 15px;
      width: 15px;
    }
  }
}
#course-management-checks {
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: space-between;
}

#course-manag-all-checks-box {
  /* max-width: 1120px; */
  width: 100%;
  padding: 10px;
  & > div {
    padding: 5px;
    margin: 5px auto;
    /* background-color: red; */
  }
}

.course-management-check p {
  margin-bottom: 0;
  font-weight: 500;
}

#school-management-wrapper {
  width: 100%;
  min-width: 100px;
  /* margin: auto; */
  /* padding: 20px; */
}
.school-class-fields-main-box {
  background-color: #ededed;
  box-shadow: 0 0 2px #dbdbdb;
  border-radius: 10px;
  max-width: 1024px;
  width: 100%;
  padding: 10px;
  padding-right: 25px;
}
.school-classes {
  display: flex;
  flex-direction: column;
}
.school-class-container {
  width: 100%;
  padding: 10px;
}

/* .school-class-field{
    border: 1px solid;
    padding: 5px;
} */

/* classes container */
.class-subjects {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: rgb(240, 240, 240); */
  padding: 5px;
  max-width: 768px;
  width: 100%;
  margin-left: 15px;
}

/* College Check */
.college-check-conatiner {
  display: flex;
  & > span {
    margin: 0 5px;
    & > input {
      height: 15px;
      width: 15px;
    }
  }
}
#college-management-wrapper {
  max-width: 1280px;
  width: 100%;
  min-width: 100px;
  /* background-color: white; */
  /* margin: 0 auto; */
  /* padding: 20px; */
}
.college-class-fields-main-box {
  background-color: #ededed;
  box-shadow: 0 0 2px #dbdbdb;
  border-radius: 10px;
  max-width: 1024px;
  width: 100%;
  padding: 10px;
}
.college-classes {
  display: flex;
  flex-direction: column;
}
.college-class-container {
  width: 100%;
  /* border: 1px solid blue; */
  padding: 10px;
}

/* .college-class-field{
    border: 1px solid;
    padding: 5px;
} */
/* classes container */
.class-subjects {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: rgb(240, 240, 240); */
  padding: 5px;
  max-width: 768px;
  width: 100%;
  margin-left: 15px;
}

/* CE CSS */

/* ce Check */
.ce-check-conatiner {
  display: flex;
  & > span {
    margin: 0 5px;
    & > input {
      height: 15px;
      width: 15px;
    }
  }
}
#ce-management-wrapper {
  max-width: 1280px;
  width: 100%;
  min-width: 100px;
  /* margin: 0 auto; */
  /* padding: 20px; */
}
.ce-class-fields-main-box {
  background-color: #ededed;
  box-shadow: 0 0 2px #dbdbdb;
  border-radius: 10px;
  max-width: 1024px;
  width: 100%;
  padding: 10px;
}
.ce-classes {
  display: flex;
  flex-direction: column;
}
.ce-class-container {
  width: 100%;
  /* border: 1px solid blue; */
  padding: 10px;
}

/* .ce-class-field{
    border: 1px solid;
    padding: 5px;
} */
/* classes container */
.class-subjects {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: rgb(240, 240, 240); */
  padding: 5px;
  max-width: 768px;
  width: 100%;
  margin-left: 15px;
}
.course-mang-checks-btns-box{
  display: flex;
  justify-content: end;
  gap: 5px;
  button{
    padding: 5px 18px;
    margin: 10px;
    border-radius: 5px;
  }
  .cm-cb-submit{
    background-color: #212143;
    color: #fff;
    border: none;
  }
  .cm-cb-cancel{
    background-color: #d3d3d9;
    color: #000;
    border: none;
  }
}
